@function px2rem($px){
	@return $px*320/$designWidth/20 + rem;
}
$designWidth : 750; //写scss之前，必须要先定义designWidth。如设计图是750    px2rem(750);
.clearfix:after{display:block;clear:both;height:0;font-size:0;content:''}
.pull-left{float:left}
.pull-right{float:right}
.show{display:block!important}
.hide{display:none!important}
.visible{visibility:visible}
.invisible{visibility:hidden}
.text-left{text-align:left}
.text-center{text-align:center}
.text-right{text-align:right}
.dv{display:inline-block;vertical-align:middle}
.di{display:inline-block}
.text-hide{border:0;background-color:transparent;font:0/0 a;color:transparent;text-shadow:none}
.text-ellipsis{overflow:hidden;white-space:nowrap;text-overflow:ellipsis}
.btn{display:inline-block;cursor:pointer;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;text-align:center;vertical-align:middle;white-space:nowrap;-webkit-tap-highlight-color:transparent}
.btn:hover{text-decoration:none};
#header {
    width: 100%;
    height: px2rem(90);
    background: #1f1f1f;
    position: fixed;
    left:0;
    top:0;
}
#header ul{
    width: 100%;
    height: 100%;
    position: relative;
}
#header ul li{
    height: 100%;
    line-height: px2rem(90);
    text-align: center;
    color: white;
    position:absolute;
}
#header ul .shop{
    width: px2rem(400);
    font-size: px2rem(36);
    left:0;
    right:0;
    margin:0 auto;
}
#header ul .edit{
    width: px2rem(100);
    right:0;
    font-size: px2rem(25);
}

/*!******************************底部********************************!*/
#footer{
    width: 100%;
    height:px2rem(100);
    position: fixed;
    left: 0;
    bottom:0;
}

#footer ul{
    width: 100%;
    height: px2rem(90);
    padding-top:px2rem(10);
    border-top: 1px solid #dcdcde;
    background: #eeefef;
}
#footer ul li{
    width: 33.33%;
    box-sizing: border-box;
    float: left;
    text-align: center;
    height: 100%;
}
#footer ul li p{
    width: 100%;
    text-align: center;
    height: px2rem(50);
    line-height: 1;
    font-size: px2rem(24);
}
#footer ul li i img{
    display: inline-block;
    width: px2rem(40);
    height:px2rem(40);
}
.second{
    color: #a77343;
}

